In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/workspaces/Music_Recommender_System/Application/spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df.shape

(57650, 4)

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [ ]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [11]:
df.head(10)

,artist,song,text
0,Beautiful South,The Table,This table has four sturdy legs \r\nAnd a hea...
1,Planetshakers,Need You In My Life,I once was lost but You found me and now I'm f...
2,Taylor Swift,Today Was A Fairytale,Today was a fairytale \r\nYou were the prince...
3,Kylie Minogue,Slow,Knew you'd be here tonight \r\nso i put my be...
4,Meat Loaf,If It Ain't Broke Break It,Hit it! \r\n \r\nEverything I've ever dreame...
5,Selah,I Look To You,"As I lay me down, \r\nHeaven hear me now. \r..."
6,Foreigner,I Don't Want To Live Without You,I find myself in a strange situation \r\nAnd ...
7,Neil Diamond,"Monday, Monday","Monday, Monday \r\nSo good to me \r\nMonday ..."
8,Don McLean,Empty Chairs,I feel the trembling tingle of a sleepless nig...
9,Gino Vannelli,Wheels Of Life,The wheels of life are turning so much faster ...

In [12]:
df['text'][0]

"This table has four sturdy legs  \r\nAnd a heart of very near wild oak  \r\nWhen others would have screamed out loud my friend  \r\nThis one never even spoke  \r\n  \r\nI've been sat upon, I've been spat upon  \r\nI've been treated like a bed  \r\nBeen carried like a stretcher,  \r\nwhen someone thinks they're dead  \r\nI've been dined upon, I've been wined upon  \r\nI've been taken for a fool  \r\nTaken for a desk,  \r\nwhen they should have been at school  \r\n  \r\nThis table's been pushed against the door  \r\nWhen tempers, well tempers flare at night  \r\nBanged upon with knuckles clenched my friend  \r\nWhen someone thinks that they are right  \r\n  \r\nI've been sat upon, I've been spat upon  \r\nI've been treated like a bed  \r\nBeen carried like a stretcher,  \r\nwhen someone thinks they're dead  \r\nI've been dined upon, I've been wined upon  \r\nI've been taken for a fool  \r\nTaken for a desk,  \r\nwhen they should have been at school  \r\n  \r\nTables only turn when tables learn  \r\nPut me on a bonfire, watch me burn  \r\nTreat me with some dignity, don't treat me like a slave  \r\nOr I'll turn into the coffin in your grave  \r\n  \r\nI've been sat upon, I've been spat upon  \r\nI've been treated like a bed  \r\nBeen carried like a stretcher,  \r\nwhen someone thinks they're dead  \r\nI've been dined upon, I've been wined upon  \r\nI've been taken for a fool  \r\nTaken for a desk,  \r\nwhen they should have been at school  \r\n  \r\nTables only turn when tables learn  \r\nPut me on a bonfire, watch me burn  \r\nTreat me with some dignity, don't treat me like a slave  \r\nOr I'll turn into the coffin in your grave\r\n\r\n"

In [13]:
# df = df.sample(5000)

In [14]:
df.shape

(5000, 3)

In [ ]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [ ]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [ ]:
similarity[0]

In [ ]:
df[df['song'] == 'Crying Over You']

In [ ]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [ ]:
recommendation('Crying Over You')

In [ ]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))